In [1]:
#Importing data handling libraries
import pandas as pd
import numpy as np

In [2]:
#Reading the dataset
dataset = pd.read_csv("dataset/toy_dataset.csv")
dataset.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [3]:
#Dropping the Number column
dataset = dataset.drop(['Number'], axis=1)

In [4]:
#Using custom label encoding to convert the categorical data to numerical data
from mlmodule.preprocessing import LabelEncoder

#City column
city_le = LabelEncoder()
dataset['City'] = city_le.fit_transform(dataset['City'])

#Gender column
gender_le = LabelEncoder()
dataset['Gender'] = gender_le.fit_transform(dataset['Gender'])

In [5]:
dataset.head()

   City  Gender  Age   Income Illness
0     2       1   41  40367.0      No
1     2       1   54  45084.0      No
2     2       1   42  52483.0      No
3     2       1   40  40941.0      No
4     2       1   46  50289.0      No

In [6]:
#Scaling the data
from mlmodule.preprocessing import StandardScaler

numerical_columns = ['City', 'Gender', 'Age', 'Income']

scaler = StandardScaler()
dataset[numerical_columns] = scaler.fit_transform(dataset[numerical_columns])

In [7]:
#Converting the illness column to 0 for No and 1 for Yes
dataset['Illness'] = dataset['Illness'].map({'No': 0, 'Yes': 1})

In [8]:
dataset = dataset.sort_values(by='Illness')

In [9]:
#Dataset
dataset.head()

        City    Gender       Age    Income  Illness
22 -0.871607 -1.125105 -1.032642 -2.731228        0
24 -0.871607  0.888806  1.127661 -1.443123        0
25 -0.871607  0.888806  1.646134 -2.604454        0
26 -0.871607  0.888806  1.127661 -1.357807        0
27 -0.871607  0.888806 -0.082109 -1.182452        0

In [10]:
dataset = dataset.drop_duplicates()

In [11]:
dataset = dataset.iloc[3000:]

In [12]:
#Creating neural network model
from mlmodule.layers import Dense
from mlmodule.models import Sequential
from mlmodule.activations import *
from mlmodule.optimizers import Adam
from mlmodule.losses import *

model = Sequential()
model.add(Dense(64, activation = relu))
model.add(Dense(32, activation = relu))
model.add(Dense(16, activation = relu))
model.add(Dense(1, activation = sigmoid))

#Compiling the model
model.compile(optimizer=Adam(learning_rate=0.001), loss=binary_crossentropy)

#Training the model
model.fit(dataset[numerical_columns], dataset['Illness'], epochs=10, batch_size=64)

#Predicting the output
predictions = model.predict(dataset[numerical_columns].values)

Epoch 1/10, Loss: 0.2915
Epoch 2/10, Loss: 0.2870
Epoch 3/10, Loss: 0.2868
Epoch 4/10, Loss: 0.2865
Epoch 5/10, Loss: 0.2865
Epoch 6/10, Loss: 0.2865
Epoch 7/10, Loss: 0.2864
Epoch 8/10, Loss: 0.2863
Epoch 9/10, Loss: 0.2863
Epoch 10/10, Loss: 0.2860
Training complete.
Final weights and biases:
Layer 1:
Weights: 0.038995310848821726
Biases: -0.0955166136241288
Layer 2:
Weights: -0.029220542678954152
Biases: 0.05172893315635683
Layer 3:
Weights: -0.03088701289870921
Biases: 0.03932983597344762
Layer 4:
Weights: 0.054929947149205294
Biases: -0.45170859553038784

In [13]:
predictions

array([[0.08325714],
       [0.08369728],
       [0.10367971],
       ...,
       [0.08399431],
       [0.0886678 ],
       [0.09829798]], shape=(146332, 1))

In [14]:
binary_predictions = (predictions > 0.5).astype(int)

In [15]:
#Accuracy
accuracy = np.mean(binary_predictions == dataset['Illness'].values)

In [16]:
accuracy

np.float64(0.9171063062078014)